# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
weather_df = pd.read_csv("output.csv")
weather_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Country
0,0,caravelas,-17.7125,-39.2481,80.51,59,0,9.53,1627476317,BR
1,1,lakhimpur,27.9500,80.7667,86.20,74,100,6.26,1627476319,IN
2,2,saeby,57.3319,10.5225,69.96,79,72,9.42,1627476321,DK
3,3,katangli,51.7102,143.2326,62.01,90,95,4.00,1627476322,RU
4,4,mataura,-46.1927,168.8643,46.47,98,40,3.56,1627476322,NZ

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
gmaps.configure(api_key=g_key)
# Create initial figure
fig = gmaps.figure()

# Create Heatmap layer
locations = weather_df[["Lat", "Lng"]]
heatmap_layer = gmaps.heatmap_layer(locations, weights=weather_df["Humidity"])
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [44]:
idx = np.where((weather_df['Humidity']<60)&
               (weather_df['Wind Speed']< 5)&
               (weather_df['Max Temp']>70)&
               (weather_df['Max Temp']<95)&
               (weather_df['Cloudiness']<60))

weather_cond_df = weather_df.loc[idx]
weather_cond_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Country
162,162,gilgit,35.9221,74.3087,93.33,36,2,4.23,1627476367,PK
214,214,ust-ilimsk,58.0006,102.6619,75.83,50,40,3.76,1627476380,RU
222,222,helena,46.5927,-112.0361,72.59,47,1,4.00,1627476382,US
274,274,almaznyy,48.0448,40.0450,87.94,24,45,2.95,1627476394,RU
283,283,lubango,-14.9172,13.4925,76.55,13,4,1.72,1627476396,AO
291,291,pingliang,35.5392,106.6861,71.73,49,0,3.89,1627476399,CN
338,338,kemijarvi,66.7131,27.4306,78.10,41,1,4.59,1627476409,FI
359,359,rudnogorsk,57.2639,103.7519,74.59,39,7,2.53,1627476412,RU
361,361,camabatela,-8.1881,15.3750,87.40,11,3,1.74,1627476413,AO
385,385,masvingo,-20.0637,30.8277,71.08,30,0,2.71,1627476417,ZW
413,413,belle fourche,44.6714,-103.8522,84.54,30,55,3.58,1627476433,US
453,453,calahorra,42.3051,-1.9652,82.89,36,8,4.85,1627476439,ES
455,455,inhambane,-23.8650,35.3833,73.38,56,40,0.00,1627476440,MZ
477,477,posse,-14.0931,-46.3694,82.51,22,0,1.72,1627476443,BR
578,578,pecos,31.4229,-103.4932,76.03,43,1,4.61,1627476457,US
581,581,novo aripuana,-5.1206,-60.3797,85.93,41,0,2.59,1627476458,BR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure